
.btn
{
  font-size: 30px;
}
.nav__text{
  color:#000;
  font-size: 20px;
}
.forMac
{
  margin-right:25px;
}
.menu__tittle
{
  font-size:30px;
}
.col
{
  color:#fff;
  height: 200px;
}
.row
{
  position: relative;
  top:150px;
  width: 900px;
}
.textarea
{
  position: relative;
  width:100%;
  min-height: 100%;
  border:2px solid #21252a;
  border-radius: 7px;
  padding: 10px;
  resize: none;
}
.mr-5{
  margin-right: 50px;
}
@media(max-width:1000px)
{
  .item{
    display: none;
  }
}